html {
	background-color: grey; /*remove when done, only here to not blind me while working */
}

body {
	height: 100%;
}

a,
ul,
li {
	text-decoration: none;
	list-style-type: none;
	display: inline;
	color: #2f2f2f;
}

a:hover {
	text-decoration: underline;
}

#apps {
	border: 1px;
	background: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#leftnav {
	display: flex;
	align-items: flex-start;
}

#rightnav {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

#signin {
	background-color: #4484f0;
	border-color: #4484f0;
	color: white;
	width: 69.3167px;
	height: 30px;
	padding: 1px 1px 1px 1px;
}

.img {
	display: table;
	margin: 0 auto;
	width: 297px;
	height: 92px;
	padding: 109px 0px 0px 0px;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: auto;
	padding: 5px 14px 8px 0px;
}

input {
	width: 527px;
	height: 34px;
	border-radius: 23px;
	border-style: solid;
}

#apps {
	border: 1px;
	background: transparent;
}

#buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: auto;
	margin: 11px;

}

.divider {
	margin: 6px;
}
