html {
  background-color: grey; /*remove when done, only here to not blind me while working */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.nav {
  display: flex;
}

#rightnav {
  display: flex;
  align-items: flex-end;
}

.img {
  display: table;
  margin: auto;
  padding-top: 109px;
  width: 272px;
  height: 92px;
}
