html {
  background-color: grey; /*remove when done, only here to not blind me while working */
}

body {
  /*display: flex;*/
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
  display: inline;
}

li .button {
  display: inline;
}

#signin {
  background-color: #4484f0;
  border-color: #4484f0;
  color: white;
}

.img {
  display: table;
  margin: 0 auto;
  width: auto;
}

.search {
  display: table;
  margin: 0 auto;
  width: auto;
}
